@model StockManager.Data.Entities.Product
@{
    ViewData["Title"] = "Editar producto";
    var brands = (IEnumerable<StockManager.Data.Entities.Brand>)ViewData["brands"];
    var categories = (IEnumerable<StockManager.Data.Entities.Category>)ViewData["categories"];
}
<h2>@ViewData["Title"]</h2>

<form id="productForm" asp-action="Edit">
    <input type="hidden" class="form-control" id="id" asp-for="Id" hidden>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">*Nombre del producto</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" asp-for="Name" min="3" max="100" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">*Categoria</div>
        <div class="col-sm-10">
            <select id="categoryId" asp-for="CategoryId" asp-items="@(new SelectList(@categories,"Id","Name"))" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">*Marca</div>
        <div class="col-sm-10">
            <select id="brandId" asp-for="BrandId" asp-items="@(new SelectList(@brands,"Id","Name"))" class="form-control"></select>
        </div>
    </div>

    <div class="form-group row">
        <label for="salePrice" class="col-sm-2 col-form-label">*Pecio de venta</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="salePrice" asp-for="SalePrice" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="description" asp-for="Description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="tags" class="col-sm-2 col-form-label">*Tags</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tags" asp-for="Tags" min="3" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">Imagen</div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6">
                    <img id="picture" width="25%" height="25%" src="@Url.Content(Model.ImageUrl)" asp-for="ImageUrl" />
                </div>
                <div class="col-sm-6">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Subir foto
                            <input type="file" style="display: none;" name="selectPicture" id="selectPicture"
                                   accept="image/jpeg, image/png, image/gif"
                                   asp-for="ImageUrl">
                        </span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" id="save" class="btn btn-primary btn-block">Guardar</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <a href="/Home/Index"> &lt;&lt; Volver </a>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $(() => {
                $('#save').click(() => {
                    $('#productForm').submit(() => {
                        
                        let formData = new FormData();
                        const picture = $('#selectPicture')[0].files[0];
                        formData.append('picture', picture, picture.name);

                        let product = {
                            'Id': Number($('#id').val()),
                            'Name': $('#name').val(),
                            'Description': $('#description').val(),
                            'Tags': $('#tags').val(),
                            'SalePrice': Number($('#salePrice').val()),
                            'CategoryId': Number($('#categoryId').val()),
                            'BrandId': Number($('#brandId').val())
                        };
                        formData.append('product', JSON.stringify(product));
                        $.ajax({
                            data: formData,
                            type: 'POST',
                            method: 'POST',
                            url: '/Home/Edit',
                            dataType: 'json',
                            cache: false,
                            contentType: false,
                            processData: false,
                            headers: { 'RequestVerificationToken': getAntiForgeryToken({}) },
                            success: (response) => {
                                if (response != null && response.success) {
                                    let formValidated = formData;
                                    $.ajax({
                                        data: formValidated,
                                        type: 'POST',
                                        method: 'POST',
                                        url: '/Home/Edit',
                                        dataType: 'json',
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        headers: { 'RequestVerificationToken': getAntiForgeryToken({}) },
                                        success: (result) => { }
                                    });
                                    return true;
                                }
                                else if (response != null && !response.success) {
                                    const errors = response['errors'];
                                }
                                return false;
                            },
                            error: (response) => {
                                return false;
                            }
                        });
                        return false;
                    });
                });

                $('#selectPicture').change((e) => {
                    addImage(e);
                });

                function addImage(e) {
                    let file = e.target.files[0],
                        imageType = /image.*/;

                    if (!file.type.match(imageType))
                        return;

                    let reader = new FileReader();
                    reader.onload = (e) => $('#picture').attr("src", e.target.result);

                    reader.readAsDataURL(file);
                }

                function getAntiForgeryToken() {
                    token = $('input[name=__RequestVerificationToken]').val();
                    return token;
                };
            });
        });
    </script>
}